.idea/
.vscode/

admin/node_modules
admin/.adminjs
admin/.env

./client/node_modules/
./server/node_modules/
./server/uploadFiles
./server/upload
./server/public

./server/public/images
.server/public/images
server/src/logs/*
**server/public/*
*server/public/*
