.idea/
.vscode/

./client/node_modules/
./server/node_modules/
./server/uploadFiles
./server/upload
./server/public

admin/node_modules
admin/.env
admin/.adminjs/

./server/public/images
.server/public/images
**server/public/*
*server/public/*
