.fieldContainer
    padding: 25px 0

.domainChoice 
    font-size: 19px
    color: #585859
    font-weight: 700

.optionContainer
    display: flex
    margin-top: 15px

    .option
        display: inline-block
        padding: 25px 30px
        border: 2px solid #ccc
        border-radius: 10px
        margin-right: 10px
        cursor: pointer
        transition: border 0.3s

        .header
            font-weight: 600
            font-size: 1.3em
            transition: color 0.3s

        .description
            display: block
            color: #0009
            margin-top: 12px